/* Estilos do cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 6, 59);
    max-height: 130px;
    margin-top: 0; /* Remova a margem superior */
    margin-left: -10px; /* Remova a margem esquerda */
    margin-right: -10px; /* Remova a margem direita */
}

.cabecalho_img {
    width: 50%;
    margin-top: 4%;
}

.cabecalho_menu {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
    margin-right: 20px; /* Ajuste a margem esquerda para mover o menu para a esquerda */
}

.cabecalho_menu a {
    text-decoration: none;
    color: white;
}

.cabecalho_menu a:hover {
    transition: 0.3s all;
    color: rgb(107, 134, 211);
}




@media screen and (min-width: 300px) and (max-width: 600px){
    .menu{
        display: none;
    }

    .cabecalho_logo{
        text-align: center;
    }

}


@media screen and (min-width: 1400px) and (max-width: 1600px){
  .cabecalho{
   height: 100%;
  }
}





