.conteudo-page{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.texto-principal{
    font-size: 45px;
    line-height: 45px;
}

.conteudo_form{
    margin-right: 3%;
}

.conteudo_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.formularios_campos{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.formularios_botao{
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: white;
    width: 90px;
    font-family: "poppins";
}

.formularios_botao:hover{
    background-color: rgb(7, 7, 66);
    color: white;
    cursor: pointer;
}

span{
    color: rgb(7, 7, 66);
}
