.conteudo-page{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.texto-principal{
    font-size: 45px;
    line-height: 45px;
}

.img-note{
    text-align: center;
    margin-top: -25px;
}
.conteudo_form{
    margin-right: 3%;
}

.conteudo_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.formularios_campos{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.formularios_botao{
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: white;
    width: 90px;
    font-family: "poppins";
}

.formularios_botao:hover{
    background-color: rgb(7, 7, 66);
    color: white;
    cursor: pointer;
    transition: 0.3s all;
}
.textarea{
    height: 50px;
}

span{
    color: rgb(7, 7, 66);
}





@media screen and (min-width: 320px) and (max-width: 600px){
    .conteudo-page{
        flex-direction: column;
        align-items: center;
    } 
    .conteudo_textos{
        text-align: center;
    }
}




@media screen and (min-width: 1400px) and (max-width: 2000px){
    .conteudo-page{
        margin-top: 50px
    } 
    .conteudo_textos{
        
    }
    .texto-principal{
        font-size: 65px;
        line-height: 55px;
    }

    .subtitulo{
        font-size: 25px;
    }

    .img-note{
        text-align: center;
        height: 450px;
        width: 450px;
    }

    .formulario_titulo{
        font-size: 30px;
        
    }
}